.App{
    width: 100%;
}
.App_fouter{
    width: 1200px;
    margin: auto;
    margin-top: 50px;
    
}
.App_fouter_2{
    margin: auto;
    width: 500px;
    height: 450px;
    border: 1px solid;
    padding-left: 50px;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 5px 5px 5px;
}
.as{
    margin-top: 20px;
}